:root {

    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}

.header__logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #000;
    text-decoration-line: none;
}

.header__logo span {
    color: #2196f3;
}

.header__navigation {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #212121;
    
}

.header__navigation:hover {
    color: #2196F3
}

.header__info {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #757575; 
}

.header__info:hover {
    color:#2196f3;
}

.title-section {
    background-color: #2f303a;
}

.title-section__text {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: #fff;
}

.title-section__button {
    background-color: #2196f3;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    color: #fff;
}

.work-ethics__title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #212121;
}

.work-ethics__text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #757575;
}

.activity__title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #212121;
}

.team__title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #212121;
}

.containers {
    background-color: #f5f4fa;
}

.containers__name {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #212121;
}

.containers__function {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

.footer {
    background-color: #2f303a;
}
.footer__logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #fff
    text-decoration-line: none;
}

.footer__logo span {
    color: #2196f3;
}

.contact span {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}

.contact {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: rgba(255, 255, 255, 0.6);
}