:root {
    --blue:#2196F3;
    --white: #FFFFFF;
    --grey: #757575;
    --black: #212121;
    --dark-grey: #2F303A;
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}

.body {
    font-family: "Roboto", sans-serif,"raleway";
    background-color: #E5E5E5;
}

.menu-item:hover {
    color: #2196F3;
}

.header__logo { 
    color: #000;
    font-size: 26px;
    font-weight: 700;
}

.header__logo span {
    color: #2196F3;
}

.header__navigation {
    color: #212121;
    font-size: 14px;
    font-weight: 500;
}

.header__navigation:hover {
    color: #2196F3;
}

.header__contact {
    color: #2196f3;
    font-size: 14px;
    font-weight: 500;
}

.header__contact:hover {
    color: #2196F3;
}

.title {
    background-color: #2f303a;;
}
.title__text {
    color: #fff;
    font-size: 44px;
    font-weight: 900;
    line-height: 136%
    text-transform: uppercase;
}

.title__button {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 187%;
    background-color: #2196f3;
}

.work-ethics-title {
    color: #212121;
    font-size: 14px;
    line-height: 16.41px;
    font-weight: 700;
}

.work-ethics-text {
    color: #757575;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.activity.title {
    color: #212121;
    font-size: 36px;
    line-height: 42.19px;
    font-weight: 700;
}

.team {
    background-color: #F5F4FA;
}

.team-title {
    color: #212121;
    font-size: 36px;
    line-height: 42.19px;
    font-weight: 700;
}

.containers-name {
    color: #212121;
}

.containers-function {
    color: #757575;
}

